# Dependencies
node_modules/
dist/
coverage/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.test
.env.production

# Prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/migrations/

# NestJS
.nest/
*.js.map
*.d.ts
!backend/src/**/*.d.ts
!backend/test/**/*.d.ts

/generated/prisma
